{% extends 'base.html.twig' %}

{% block title %}Assodeo - Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1>Assodeo</h1>

    <p>En cours de développement</p>
</div>
{% endblock %}
